################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BuzzNPoses/v16
/CppProperties.json
/.vs
